@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Moon+Dance&display=swap");

/*------------ W3C School tutorial reference --------------*/

div {
  padding: 15px;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pirata One", Alex Brush;
}

.container {
  width: 1080px;
  height: 720px;
  background-image: url("Assets/Lg_Background.png"); /*Generated via OpneAi*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  border: none;
  outline: none;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 10px rgb(129, 129, 129);
  position: relative;
  overflow: auto;
  margin: 0 auto;
  margin-top: 2vh;
  transition: all 0.3s;
}

.titleImg {
  position: absolute;
  width: auto;
  z-index: 1000;
  top: 0;
  padding: 0;
  margin-top: 3vh;
  filter: drop-shadow(4px 6px 8px rgba(0, 0, 0, 0.5));
  transition: 0.5s;
}

.titleImg:hover {
  scale: 1.05;
  filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.8));
}

.titleImg img {
  height: 20vh;
  width: auto;
  background: none;
  border: none;
  outline: none;
}

.form {
  display: none;
}

.form.active {
  display: block;
}

.form {
  text-align: center;
  position: absolute;
  background-color: rgba(255, 202, 111, 0.8);
  backdrop-filter: blur(1px);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 1vw;
  top: 26vh;
  left: 50%;
  transform: translateX(-50%);
}

#form-register label {
  display: block;
  left: 10vh;
  color: rgb(89, 55, 3);
  font-size: 25pt;
  font-family: "Pirata One", Alex Brush;
}

#form-login label {
  align-items: center;
  justify-content: center;
  color: rgb(89, 55, 3);
  font-size: 22pt;
  font-family: "Pirata One", Alex Brush;
}

label {
  align-items: center;
  justify-content: center;
  color: rgb(89, 55, 3);
  font-size: 25pt;
  font-family: "Pirata One", Alex Brush;
}

::placeholder {
  text-align: center;
  font-size: 13pt;
  font-family: "Pirata One", Alex Brush;
  color: rgb(150, 111, 39);
}

input {
  text-align: center;
  width: 40vh;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Pirata One", Alex Brush;
  font-size: 15pt;
  transition: 0.3s;
}

input:hover {
  box-shadow: 2px 3px 6px gray;
}

p {
  font-family: "Pirata One", Alex Brush;
  font-size: 14pt;
  color: rgb(89, 55, 3);
}

a {
  color: rgb(89, 55, 3);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(103, 4, 0);
}

@keyframes fadeInText {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

h2 {
  font-family: "Pirata One", "Alex Brush", cursive;
  font-size: 30pt;
  color: #3c2400;
  margin: 2vh 0;
  padding: 0;
  line-height: 1.2;
  transition: all 0.3s ease;
}

h2:hover {
  color: #5c3a00;
  transform: scale(1.05);
  scale: 1.02;
}

h3 {
  font-family: "Pirata One", Alex Brush;
  color: zrgb(89, 55, 3);
  text-align: center;
  font-size: 20pt;
  color: rgb(89, 10, 3);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 2vh;
}

h4 {
  font-family: "Pirata One", Alex Brush;
  color: rgb(89, 55, 3);
  font-size: 20pt;
  margin-top: -3vh;
}

/*Login Register Error msg*/
.error-messege {
  position: absolute;
  min-width: 15vw;
  top: 33vh;
  padding: 10px;
  background: wheat;
  border-radius: 8px;
  font-size: 16px;
  color: red;
  text-align: center;
  margin-bottom: 10px;
  opacity: 1;
  z-index: 1000;
  transition: opacity 0.6s ease-in-out;
  animation: fadeIn 1s;
  animation: fadeOut 7s forwards;
}

.error-messege:hover {
  background: #feeac1;
}

.success-messege {
  position: absolute;
  top: 10vh;
  left: 12vh;
  transform: translateX(-50%);
  padding: 10px;
  background: wheat;
  border-radius: 8px;
  font-size: 16px;
  color: rgb(0, 136, 7);
  text-align: center;
  margin-bottom: 10px;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  animation: fadeIn 1s;
  animation: fadeOut 5s forwards;
}

.success-messege:hover {
  background: #feeac1;
}

/*Login & Register Button Effects*/
.img-btn {
  top: 1vh;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.img-btn:hover {
  transform: scale(1.05);
  filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.6)) brightness(1.1);
  -webkit-text-fill-color: rgb(60, 36, 0);
}

.btn-image {
  display: block;
  width: 220px;
  height: auto;
  transition: 0.3s;
}

.Btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(89, 55, 3);
  font-family: "Pirata One", Alex Brush;
  cursor: pointer;
  font-size: 20pt;
  transition: 0.3s;
  pointer-events: none;
}

.guestImg-btn {
  top: -1vh;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.guestImg-btn:hover {
  transform: scale(1.05);
  filter: drop-shadow(2px 5px 8px rgba(0, 0, 0, 0.6));
}

.guestBtn-image {
  display: block;
  width: 120px;
  height: auto;
  transition: 0.3s;
}

.guest-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(89, 55, 3);
  font-family: "Pirata One", Alex Brush;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
  pointer-events: none;
}

/* .img-btn:hover .Btn-text {
  transform: translate(-50%, -50%) scale(1.1);
} */

/*--------------- Menu ------------- */
.menu-container {
  position: absolute;
  top: 26vh;
  background-color: rgba(255, 202, 111, 0.8);
  backdrop-filter: blur(1px);
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: auto;
  transition: 0.3s;
  animation: fadeIn 0.3s ease forwards;
}

.menuTitle {
  font-size: 42px;
  color: #fff;
  /* margin-top: 10vh; */
}

.menu-buttons button {
  font-size: 16pt;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 2vh;
}

.menu-buttons button:hover {
  transform: scale(1.08);
}

/* ------------------- Level css ---------------*/
.gameContainer {
  width: 1080px;
  height: 720px;
  background-image: url("Assets/Game_Background.png"); /*Generated via OpneAi*/
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 10px rgb(129, 129, 129);
  position: relative;
  overflow: hidden;
  margin-top: 2vh;
  transition: 0.3s;
}

.storyContent {
  position: fixed;
  margin-right: 18vw;
  margin-left: 5vw;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s ease-in-out;
}

.story {
  display: none;
  opacity: 0;
}

.story.active {
  display: block;
  opacity: 1;
}

.storyPara {
  position: relative;
  height: fit-content;
  width: 40vw;
  font-size: 1.4em;
  text-align: center;
  white-space: pre-line;
  background-color: #ffe2a9;
  border-radius: 1vw;
  padding: 20px;
  margin-bottom: 20px;
  overflow: auto;
  animation: fadeInText 3s forwards;
  font-family: "Grenze Gotisch", serif;
  font-weight: bold;
  cursor: context-menu;
}

#messageBox[data-type="title"] #message {
  /* Learned through https://chatgpt.com/*/
  font-size: 30px;
  color: #623a09;
  font-family: "Pirata One", Alex Brush;
  pointer-events: none;
}

#messageBox[data-type="clue"] #message {
  font-size: 20px;
  color: rgb(89, 55, 3);
  font-family: "Pirata One", Alex Brush;
  pointer-events: none;
}

#unlockClueBtn {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: grab;
}

#unlockClueBtn img {
  display: block;
  width: 6vw;
  max-width: 220px;
  min-width: 60px;
  height: auto;
  object-fit: contain;
  transition: 0.3s, box-shadow 0.3s ease;
  filter: drop-shadow(2px 3px 4px rgba(24, 24, 24, 0.4));
}

#unlockClueBtn img:hover {
  filter: drop-shadow(2px 5px 5px rgba(24, 24, 24, 0.9)) brightness(1.2); /*referencing from VS code inbuilt helper*/
  transform: scale(1.1);
}

/*---------------Message box------------- */
#messageBox {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 272px;
  width: 485px;
  background-image: url("Assets/MessageBox02.png");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 20px;
  pointer-events: none;
  filter: drop-shadow(8px 10px 4px rgba(24, 24, 24, 0.6));
}

#messageBox[data-type="title"] {
  background-image: url("Assets/MessageBox01.png") !important;
}

#messageBox[data-type="clue"] {
  background-image: url("Assets/MessageBox02.png") !important;
}

#messageBox.show {
  opacity: 1;
  pointer-events: auto;
  animation: fadeIn 0.3s ease forwards;
}

#messageBox.hide {
  animation: fadeOut 0.4s ease forwards;
  pointer-events: none;
}

#messageBox.hidden {
  display: none;
}

#messageBox #closeMsgBtn {
  background: none;
  border: none;
  font-family: "Pirata One", Alex Brush;
  font-size: 20px;
  color: inherit;
  cursor: pointer;
}

#messageBox #closeMsgBtn:hover {
  color: rgb(110, 62, 0);
}

#message {
  background: none;
  border: none;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 18px;
  color: inherit;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/*--------------- Detective Character ------------- */
.detective {
  position: absolute;
  right: -30px;
  bottom: -20px;
  width: 300px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out transform 0.3s ease;
  cursor: pointer;
  transform: translateX(-50px);
}

.detective.show {
  opacity: 1;
  transform: translateX(0);
}

.detective.hidden {
  opacity: 0;
}

.detective:hover {
  content: url(Assets/character02.png);
  width: 330px;
  bottom: -35px;
  pointer-events: auto;
}

/*--------------- banana Container ------------- */
.banana-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  justify-content: center;
  align-items: center;
}

/*----------Level Indicator------------*/
.levelInd {
  position: absolute;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2vh;
  left: 9vw;
  width: fit-content;
  height: fit-content;
}

#levelBtn {
  display: block;
  height: 5.5vh;
  width: auto;
}

#levelIndicator {
  position: absolute;
  font-size: 3vh;
  font-family: "Pirata One", Alex Brush;
  color: rgb(89, 55, 3);
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
  transition: 0.3s;
  cursor: context-menu;
}

#levelIndicator.visible {
  opacity: 1;
}

#levelIndicator:hover {
  font-weight: bold;
}

/*------------ Back to Menu Btn --------------*/
.gameMenuBtn {
  position: absolute;
  object-fit: contain;
  top: 2vh;
  left: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gameMenuBtn:hover {
  scale: 1.01;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
}

#menuBtn {
  display: block;
  height: 5.5vh;
  width: auto;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.6));
}

#menuTxt {
  position: absolute;
  margin-left: 1vw;
  font-size: 3vh;
  font-family: "Pirata One", Alex Brush;
  color: rgb(89, 55, 3);
  transition: opacity 0.5s ease-in-out;
}

#menuTxt:hover {
  color: rgb(82, 18, 1);
}

@media (max-width: 900px) {
  .levelInd {
    left: 20vw; /* push right */
  }
}

/* -------------- Clue Container -------------- */
.clueContainer {
  position: absolute;
  top: 1.5vh;
  right: 4%;
  width: 140px;
  height: 70px;
  background-image: url(Assets/MessageBox03.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.6));
  transform-origin: top right;
  transition: transform 0.45s cubic-bezier(0.25, 0.1, 0.25, 1),
    width 0.45s cubic-bezier(0.25, 0.1, 0.25, 1),
    height 0.45s cubic-bezier(0.25, 0.1, 0.25, 1), filter 0.3s ease,
    z-index 0s linear 0.45s;
} /*  reference from W3 school website*/

.clueContainer h3 {
  margin: 0;
  padding: 0;
  margin-top: 2.8vh;
  font-family: "Pirata One", Alex Brush;
  font-size: 16pt;
  color: rgb(89, 53, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

#clueList {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  padding-right: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease, padding-right 0.3s ease;
}

#clueList li {
  font-family: "Moon Dance", cursive;
  list-style-type: none;
  margin-top: 0.5vh;
  font-size: 13pt;
  line-height: 12pt;
  color: #3c2400;
  transition: font-size 0.3s ease-out, line-height 0.3s ease;
  gap: 2px;
}

/*Hovers*/
.clueContainer:hover:hover {
  top: 1.5vh;
  right: 4%;
  width: 300px;
  height: 150px;
  transform: scale(1.25);
  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.6));
  z-index: 2000;
}

.clueContainer:hover h3 {
  margin-top: 4vh;
  font-size: 15pt;
  transition: all 0.4s ease;
}

.clueContainer:hover #clueList {
  max-height: 55px;
  opacity: 1;
  overflow-y: auto;
  padding-right: 15px;
  z-index: 2100;
}